doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Contact Request
    h3 Email:
    p #{email}
    h3 Name:
    p #{name}
    h3 Message:
    p #{message}